body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: linear-gradient(186deg, #d422b1, #ffce00);
  background-size: 400% 400%;
  animation: GradientBackground 18s ease infinite;
}

/* GRADIENT A*/

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* SERENA */
.container {
  display: grid;
  min-height: 95vh;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.total {
  display: grid;
  background-color: rgb(164, 230, 224);
  width: 26vw;
  height: 56vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 0.2em;
  min-height: 18em;
  min-width: 10em;
}

.display {
  border-radius: 0.2em;
  display: grid;
  background-color: #e7727c;
  text-align: right;
  padding: 0.4em;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2em;
}

.nums {
  width: 25vw;
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr, 1fr;
  gap: 0.1rem;
  min-height: 18em;
  min-width: 10em;
}

#zero {
  grid-area: 5 / 1 / 6 / 3;
}

button {
  color: #e7727c;
  height: 7vh;
  border: 1px white;
  margin: 2.1px;
  font-family: inherit;
  font-size: 1.2em;
  border-radius: 0.2em;
}

button:hover {
  background-color: rgb(235, 236, 157);
  color: white;
}

button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .container {
    height: 100%;
    width: 100%;
  }
  .nums {
    height: 60vh;
    width: 80vw;
  }
  .nums button {
    height: 9vh;
    font-size: 2em;
    border: whitesmoke;
  }
  .total {
    height: 90vh;
    width: 90vw;
  }
  .display {
    height: 8vh;
    width: 75vw;
    margin-bottom: 5vh;
  }
}

@media (max-width: 480px) {
  .container {
    height: 100%;
    width: 100%;
  }
  .nums {
    height: 70vh;
    width: 90vw;
  }
  .nums button {
    height: 9vh;
    font-size: 2em;
    border: whitesmoke;
  }
  .total {
    height: 100vh;
    width: 100vw;
    background-color: mediumturquoise;
  }
  .display {
    height: 8vh;
    width: 84vw;
    margin-bottom: 5vh;
  }
}
